<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1083247655157-of50an68d8qov9ncf4oiq2fp47r8dunq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1083247655157-of50an68d8qov9ncf4oiq2fp47r8dunq</string>
	<key>API_KEY</key>
	<string>AIzaSyBUf6kz7HPecX2tRGUMpv_yJ9yH1Yj-VeI</string>
	<key>GCM_SENDER_ID</key>
	<string>1083247655157</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.chitchatHybrid</string>
	<key>PROJECT_ID</key>
	<string>chitchathybrid</string>
	<key>STORAGE_BUCKET</key>
	<string>chitchathybrid.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1083247655157:ios:ee646989b7faa4aa</string>
	<key>DATABASE_URL</key>
	<string>https://chitchathybrid.firebaseio.com</string>
</dict>
</plist>